@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopBridge Inventory</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2><center>ShopBridge Inventory</center></h2>
        <div class="container">
            <div id="fetch_results">
                <h3 style="margin-left:20px">Add Items</h3><br />

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Name</label>
                            <input type="text" id="txtName" class="form-control" />
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label>Image</label>
                            <input type="file" class="form-control" id="fileImage" onchange="ShowPreview(this)" accept="image/jpeg,image/png,image/jpg" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Description</label>
                            <input type="text" id="txtDesc" class="form-control" />
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img src="" id="impPrev" height="100px" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Price</label>
                            <input type="text" id="txtPrice" class="form-control" />
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnSave" value="Save Items" class="pull-right btn btn-primary" onclick="addItems()">Save Items</button>
                    </div>
                </div>
                <br />
            </div>
        </div><br /><br /><br />
        <div class="container">
            <table class="table table-bordered table-hover table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="bdyItems"></tbody>
            </table>
        </div>
    </div>

</body>
</html>
<script>
    /* Function redirects to ItemDetails action method of Items Controller */
    /* Params: id send via query string */
    function getDetails(id) {
        var url = '@Url.Action("ItemDetails", "Items")?juj=' + id;
        window.location.href = url;
    }
</script>

@* File InventoryOperations.js contains all the AJAX methodes which consumes web apis *@
<script src="~/Scripts/InventoryOperations.js"></script>