@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ItemDetails</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container">
            <h2><center>Item Details</center></h2><br /><br />

            <div class="row">
                <div class="col-md-1">
                    <label>Name:</label>
                </div>
                <div class="col-md-4">
                    <p id="lblName" class=""></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <label>Description:</label>
                </div>
                <div class="col-md-4">
                    <p id="lblDesc" class=""></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <label>Price:</label>
                </div>
                <div class="col-md-4">
                    <p id="lblPrice" class=""></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <label>Image:</label>
                </div>
                <div class="col-md-4">
                    <img src='' id="imgThumbnail" height="100px" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input type="button" value="Back" class="pull-right btn btn-success" onclick="btnBack()" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    
    $(document).ready(function () {
        getDetails();
    });

    /* function to get item details */
    function getDetails() {
        var apiURL = "http://localhost:2073/api/InventoryOperations/";
        var url = window.location.href;
        var split = url.split("juj=");
        var id = split[1];
        $.ajax({
            type: "GET",
            url: apiURL + id,
            contentType: "application/json;charset=utf-8",
            datatType: "json",
            success: function (data) {
                debugger;
                $("#lblName").text(data.Name);
                $("#lblDesc").text(data.Description);
                $("#lblPrice").text(data.Price);
                $("#imgThumbnail").attr('src', data.ImagePath);
            },
            error: function (data) {
                console.log("Error:" + data + " in ItemDetails get method")
                alert("Error:" + data);
            }
        })
    }

    /* function to get back to the index page */
    function btnBack() {
        var url = '@Url.Action("Index", "Items")';
        window.location.href = url;
    }
</script>
